<div class="card">
    <div class="card-body">
        <h5 class="card-title">Lorem, ipsum.</h5>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam molestias nulla iusto mollitia, fugit praesentium quae qui at odit laborum?</p>
        <a href="#" class="card-link">Read more</a>
    </div>
</div>